[submodule "CLIP"]
	path = CLIP
	url = https://github.com/openai/CLIP.git
[submodule "ieat"]
	path = ieat
	url = https://github.com/ryansteed/ieat
[submodule "scaling-laws-openclip"]
	path = scaling-laws-openclip
	url = https://github.com/LAION-AI/scaling-laws-openclip/
