/data/wariner.csv filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/NRC-Emotion-Lexicon-ForVariousLanguages.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/NRC-Emotion-Lexicon-Senselevel-v0.92.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/NRC-Emotion-Lexicon-Wordlevel-v0.92.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/anger-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/anticipation-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/disgust-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/fear-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/joy-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/negative-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/positive-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/sadness-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/surprise-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerEmotion/trust-NRC-Emotion-Lexicon.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Afrikaans-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Albanian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Amharic-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Arabic-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Armenian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Azerbaijani-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Basque-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Belarusian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Bengali-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Bosnian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Bulgarian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Catalan-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Cebuano-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Chichewa-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Chinese-Simplified-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Chinese-Traditional-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Corsican-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Croatian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Czech-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Danish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Dutch-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Esperanto-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Estonian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Filipino-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Finnish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/French-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Frisian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Galician-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Georgian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/German-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Greek-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Gujarati-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Haitian-Creole-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hausa-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hawaiian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hebrew-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hindi-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hmong-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Hungarian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Icelandic-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Igbo-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Indonesian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Irish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Italian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Japanese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Javanese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Kannada-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Kazakh-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Khmer-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Kinyarwanda-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Korean-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Kurdish-Kurmanji-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Kyrgyz-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Lao-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Latin-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Latvian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Lithuanian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Luxembourgish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Macedonian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Malagasy-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Malay-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Malayalam-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Maltese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Maori-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Marathi-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Mongolian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Myanmar-Burmese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Nepali-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Norwegian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Odia-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Pashto-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Persian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Polish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Portuguese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Punjabi-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Romanian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Russian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Samoan-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Scots-Gaelic-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Serbian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Sesotho-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Shona-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Sindhi-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Sinhala-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Slovak-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Slovenian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Somali-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Spanish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Sundanese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Swahili-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Swedish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Tajik-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Tamil-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Tatar-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Telugu-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Thai-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Turkish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Turkmen-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Ukrainian-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Urdu-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Uyghur-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Uzbek-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Vietnamese-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Welsh-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Xhosa-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Yiddish-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Yoruba-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/OneFilePerLanguage/Zulu-NRC-EmoLex.txt filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/Paper-Ethics-Sheet-Emotion-Recognition.pdf filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/Paper-Practical-Ethical-Considerations-Lexicons.pdf filter=lfs diff=lfs merge=lfs -text
/data/NRC-Emotion-Lexicon/Paper1_NRC_Emotion_Lexicon.pdf filter=lfs diff=lfs merge=lfs -text
/results/data/categorical_results.csv filter=lfs diff=lfs merge=lfs -text
/results/data/categorical_synonyms_results.csv filter=lfs diff=lfs merge=lfs -text
--above=100Kb !text !filter !merge !diff
